apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: qa

resources:
  - ../../base

commonLabels:
  environment: qa

patches:
  - path: deployment-patch.yaml

replicas:
  - name: nginx
    count: 2
