apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

commonLabels:
  environment: prod

patches:
  - path: deployment-patch.yaml

replicas:
  - name: nginx
    count: 3
