name: Checkov

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches:
      - main
      - master

jobs:
  checkov-job:
    runs-on: ubuntu-latest
    name: checkov-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          config_file: .checkov.yml
          output_format: cli,json
          output_file_path: console,results.json

      - name: Upload Checkov results as artifact
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: checkov-results
          path: results.json
          retention-days: 30
